@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap");

$roboto: "Roboto", serif;
$nunito: "Nunito", serif;

$primary-color: #939458;
$secondary-color: #000000;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
