@import "../utilities/variables";
@import "../components/button";
@import "../utilities/breakpoints";

.cta {
	font-family: $nunito;
	background: #d4c3be;
	
}
.redcup {
	position: absolute;
	bottom:0;
	left: 0;
}
.yellowcup {
	position: absolute;
	right: 0;
	bottom: 0;

}

@include lg {
	.redcup {
	position: absolute;
	left: 0;
}
.yellowcup {
	position: absolute;
	right: 0;
	bottom: 0;
}
}