@import "../utilities/variables";
@import "../components/button";
@import "../utilities/breakpoints";

.cta {
	font-family: $nunito;
	background: #d4c3be;
	
	height: 70vh;
}
.redcup {
	position: absolute;
	bottom:0;
	left: 0;
}
.yellowcup {
	position: absolute;
	right: 0;
	bottom: 0;

}

@include lg {
.cta {
	font-family: $nunito;
	background: #d4c3be;
	
	height: 40vh;
}
	.cta button {
						padding: 0.5rem 2rem 0.5rem;

	}
	.redcup {
	position: absolute;
	left: 0;
	top: 10px;
}
.yellowcup {
	position: absolute;
	right: 0;
	bottom: 0;
}
}