@import "../utilities/variables";
@import "../utilities/breakpoints";
@import "../utilities/mixins";

.navbar-nav {
	background: $primary-color;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	background: $primary-color;

}
.site-header {

	
	a:nth-of-type(7) {
		position: relative;
	.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
	border-radius: 50%;
	border :2px solid #fff;
    position: absolute;
  top: -5px;
  right: -20px;
  padding: 5px 5px;
}
	}
}
nav {
	background: $primary-color;
	.navbar-toggler {
		color: #000000;
			fill: #000000;
		span {
			z-index: 1;
			color: #000000;
			fill: #000000;
		}
	}
}

@include lg {
	
}
