@import "../utilities/variables";
@import "../utilities/breakpoints";

.herot {
	background-image: url("../../assets/images/Home1.png");

	height: 90vh;
	background-position:bottom;
	background-repeat: no-repeat;
	background-size: cover;
	
}
@include lg {
.herot {
	
	background-size: cover;
}

}